doctype html
html
	head
		meta(charset="utf-8")
		title Welcome
		// build:css css/index.min.css
		link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css")
		// endbuild
	body
		.container
			.jumbotron
				h1 Page not found

		h2.text-center 
			a(href='/') Back do main page