doctype html
html(ng-app="contatooh")
	head
		meta(charset="utf-8")
		title Welcome
		// build:css css/index.min.css
		link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css")
		// endbuild

	body.container
		if userLogin
			.text-right
				p Logged in:
					span#logged-user #{userLogin}
					a(href="/logout")  Logout
				
		
		div(ng-view)
		
		// build:js js/index.min.js
		script(src="vendor/angular/angular.js")
		script(src="vendor/angular-route/angular-route.js")
		script(src="vendor/angular-resource/angular-resource.js")
		
		script(src="js/main.js")
		script(src="js/services/interceptors.js")
		script(src="js/services/contact.js")
		
		script(src="js/controllers/contacts.js")
		script(src="js/controllers/contact.js")
		// endbuild
